/* Десктоп: hover */
@media (min-width: 1025px) {
    .product-card:hover .product-overlay {
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        align-items: center;
    }

    .product-card:hover .product-description {
        display: block;
    }
}

/* Мобильные/планшет: клик */
@media (max-width: 1024px) {
    .product-card.active .product-overlay {
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        align-items: center;
    }

    .product-card.active .product-description {
        display: block;
    }
}

/* Увеличение карточки при наведении (только для десктопа) */
@media (min-width: 1024px) {
    .product-card:hover {
        transform: scale(1.05);
    }

    .product-card:hover .product-overlay {
        opacity: 1;
        transform: translateY(0);
    }
}