.faq {
    margin-top: 40px;
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.faq-box {
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--color-primary);
  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 16px 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-item:hover {
    background-color: #f9f9f9;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .faq-question .block-desc {
    width: auto;
    letter-spacing: 0;
  }

  
  .arrow img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }
  
  .faq-answer {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  padding-right: 24px;
  }

  .faq-answer.open {
    max-height: 400px;
  }

  .faq-answer p {
    padding: 0 16px;
    line-height: 1.5;
  }