.faq {
    margin-top: 40px;
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.faq-box {
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    font-family: var(--font-title);
  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 16px 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-item:hover {
    background-color: #f9f9f9;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .faq-question .block-desc {
    width: auto;
    letter-spacing: 0;
  }

  
  .arrow img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    font-size: 16px;
    color: #333;
    padding-right: 24px;
  }
  
  .faq-item.open .faq-answer {
    max-height: 200px; /* на 1–2 строки */
    margin-top: 8px;
  }