.welcome {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 110px;
    height: 600px;
    background:
        url("../../assets/images/welcome/welcome-photo.jpg") no-repeat right center;
    background-size: contain;
}

.welcome-content {
    max-width: 45%;
    margin-bottom: 40px;
}

.welcome-text {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}