@font-face {
  font-family: 'MainFont';
  src: url('./assets/fonts/Lora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleFont';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TitleFont';
  src: url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --font-primary: 'MainFont', serif;
  --font-title: 'TitleFont', sans-serif;
  --color-primary: rgb(51, 51, 51);
  --color-card: rgb(255, 255, 255);
  --color-line: rgb(102, 102, 102);
  --color-bg-footer: rgb(46, 50, 51);
  --color-text-footer: rgb(250, 250, 250);
  --color-copyright-footer: rgba(232, 236, 236, 0.6);
  --main-padding: 20px 110px;
  --btn-gradient: linear-gradient(to bottom, rgb(154, 168, 172) 15%, rgb(80, 87, 89) 100%);
  --btn-gradient-hover: linear-gradient(to bottom, rgb(154, 168, 172) 0%, rgb(80, 87, 89) 35%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.App header,
.App main {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

.App footer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(46, 50, 51);
  color: rgb(255, 255, 255);
}

h2 {
  font-family: var(--font-title);
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.20em;
  margin-bottom: 0px;
}

.block-desc {
  width: 90%;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 22px;
  letter-spacing: 0.06em;
  line-height: 1.5;
}

.button {
  width: 250px;
  padding: 9px 10px;
  font-family: var(--font-title);
  font-size: 14px;
  color: var(--color-card);
  background: var(--btn-gradient);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.button:hover {
  background: var(--btn-gradient-hover);
  transform: translateY(2px);
}

.button .arrow {
  width: 16px;
}

@media (min-width: 1440px) {
  .App {
    background-color: rgb(250, 250, 250);
  }

  .App header,
  .App main,
  .App footer {
    max-width: 1440px;
    margin: 0 auto;
  }
}
